@import url('https://fonts.googleapis.com/css?family=Roboto');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav.sticky {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 7%;
  margin-top: 15%;
}

nav a {
  text-decoration: none;
  color: #eef4ed;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  transition: 0.3s;
}

nav a:hover {
  transform: translateX(20px);
  color: #00ffa2;
}

